<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="https://store.duolingo.com/cdn/shop/files/20240722_Duo7288V2.png?crop=center&height=600&v=1743519053&width=480" alt="Printed Tees" />
      <p>Best sellers</p>
    </div>
    <div class="col text-center">
      <img src="https://store.duolingo.com/cdn/shop/files/V4_J.gif?crop=center&height=600&v=1743472328&width=480" alt="Jewelry" />
      <p>Accesories</p>
    </div>
    <div class="col text-center">
      <img src="https://store.duolingo.com/cdn/shop/files/20240722_Duo7113V2.png?crop=center&height=600&v=1743460964&width=480" alt="Backpacks" />
      <p>Backpacks</p>
    </div>
    <div class="col text-center">
      <img src="https://store.duolingo.com/cdn/shop/files/20250317_Duo_0819-Edit.png?crop=center&height=600&v=1743449311&width=480" alt="Mugs" />
      <p>Hats</p>
    </div>
    <div class="col text-center">
      <img src="https://store.duolingo.com/cdn/shop/files/Duolingo_04_4017-2.png?crop=center&height=600&v=1743460789&width=480" alt="Plushies" />
      <p>Plushies</p>
    </div>
    <div class="col text-center">
      <img src="https://store.duolingo.com/cdn/shop/files/DuolingoHandbook2.png?crop=center&height=600&v=1749002920&width=480" alt="Notebooks" />
      <p>Notebooks</p>
    </div>
    <div class="col text-center">
      <img src="https://store.duolingo.com/cdn/shop/files/20250317_Duo_0972-Edit.png?crop=center&height=600&v=1747699034&width=480" alt="Printed Tees" />
      <p>Printed Tees</p>
    </div>
    <div class="col text-center">
      <img src="https://store.duolingo.com/cdn/shop/files/20241031-20240722_Duo7177.png?crop=center&height=600&v=1731400441&width=480" alt="Printed Tees" />
      <p>Footwear</p>
    </div>
    <div class="col text-center">
      <img src="https://store.duolingo.com/cdn/shop/files/20231113_Duolingo-Q4_0006.png?crop=center&height=600&v=1743470993&width=480" alt="Printed Tees" />
      <p>Vinyl Figures</p>
    </div>
    <div class="col text-center">
      <img src="https://store.duolingo.com/cdn/shop/files/20240722_Duo7231V3.png?crop=center&height=600&v=1743471774&width=480" alt="Printed Tees" />
      <p>Specials</p>
    </div>
  </div>
</div>
